- current_user ||= local_assigns[:current_user]

.message-block{ class: ("own" if message.recipient != current_user) }
  .message{ data: { sender_id: message.sender.id }, class: ("own" if message.recipient != current_user) }
    .message-sender-icon
      = link_to user_path(message.sender) do
        .profile-photo
          = user_image(message.sender)
          - if message.sender.online?
            %span.user_online
          - else
            %span.user_offline
    .message-content
      .message-head{ style: "width: 100%;" }
        .space-between{ style: "align-items: center;" }
          %strong= message.sender.fullname
          .text-small.text-muted{ style: "margin-top: 5px;" }= small_datetime message.created_at
      .message-body
        %p= message.body
    
