- can_change = @user.has_change_rights?(current_user)

.form-fields.filled-block
  = form_for @user, html: { id: 'user-form' } do |f|
    .row
      .col-md-6
        .field
          = f.label "Имя"
          = f.text_field :firstname, placeholder: "Имя", required: false, autocomplete: "new-password", required: true
      .col-md-6
        .field
          = f.label "Фамилия"
          = f.text_field :lastname, placeholder: "Фамилия", required: false, autocomplete: "new-password"
    .row
      .col-md-12
        .field
          = f.label "Почта"
          = f.text_field :email, placeholder: "Почта", type: :email, required: false, autocomplete: "new-password", required: true
    .row
      .col-md-6
        .field
          = f.label "Пароль"
          = f.password_field :password, placeholder: "Пароль", autocomplete: "new-password", required: true
      .col-md-6
        .field
          = f.label "Подтверждение пароля"
          = f.password_field :password_confirmation, placeholder: "Подтверждение пароля", autocomplete: "new-password", required: true
    .row
      .col-md-12
        .field
          = f.label "Роль"
          = f.select :role, User.get_roles, {}, class: "form-control", required: true, include_blank: true
    -# .row
    -#   .col-md-12
    -#     .field
    -#       = f.label "Баланс"
    -#       = f.number_field :balance, step: 0.01, class: "form-control"
    - if can_change
      = f.submit (@user.new_record? ? "Создать" : "Обновить"), class: "btn btn-primary mt-3"
