.row
  .col-md-12
    .edit-user-title.content-panel-header
      = link_to user_path(@user), class: "btn small-btn gradient-hover", style: "margin-right: 15px;" do
        = fa_icon "arrow-left"
      .space-between{ style: "align-items: center;" }
        %div
          %span.text-xxl.text-bold Редактировать пользователя
        %div
          %button.btn-primary.small-btn.gradien-hover{ type: 'submit', form: 'user-form' }
            %span.hide-on-mobile= "Сохранить"
            = g_icon("check")
    = render 'form'
