- can_change = @user.has_change_rights?(current_user)

.user-info-panel
  #user_id{ style: "display: none !important;" }= @user.id
  .back-to-users
    - user_back_link = can_change ? users_path : root_path

    .space-between.content-panel-header
      %div
        = link_to user_back_link, class: "btn small-btn gradient-hover", style: "margin-right: 15px;" do
          = fa_icon "arrow-left"
        - if !@user.online?
          %span.text-muted= "Последний раз был в сети #{small_datetime @user.current_sign_in_at}" if @user.current_sign_in_at
      - if can_change || current_user == @user
        = link_to edit_user_path(@user) do
          .small-btn.btn-primary= g_icon 'edit'
  .profile-cover
    = @user.cover_picture
  .profile-body
    .profile-picture
      .user-avatar
        .profile-image-block{ class: can_change ? "update-user-image" : '', data: { user_id: @user.id } }
          = user_image(@user)
    .user-desc
      .space-between{ style: "width: 100%;" }
        %div
          = @user.firstname
          %span.hide-on-laptop= @user.lastname
        - if @user != current_user
          = link_to messages_path(recipient_id: @user.id) do
            .btn.small-btn.chat-user-btn= g_icon("chat_bubble")
      #user-id.text-muted.text-big= @user.user_login_id

    .user-registered-info
      .text-muted= @user.registered_info
