.filled-block
  = simple_form_for :forecast, url: forecasts_path do |f|
    .form-fields
      .form-group
        .field
          = f.label :symbol, "Монета"
          = f.input :symbol, collection: [], input_html: { id: "symbol-select", class: "form-control" }, include_blank: 'Выберите монету', label: false

      .form-group
        .field
          = f.label :timeframe, "Таймфрейм"
          = f.input :timeframe, collection: [['1m','1m'], ['3m','3m'], ['5m','5m'], ['15m','15m'], ['1h','1h'], ['2h','2h'], ['1d','1d']], include_blank: false, label: false

      = f.button :submit, "Прогнозировать", class: "btn btn-primary"

  %hr

  %div{ style: "margin: 10px 0;" }
    %strong Ваши прогнозы
    %span.text-muted= "(#{@forecasts.length})"
  .table-block.users-table.with-hidden-scrollbar
    %table.big-table
      %thead
        %tr
          %th.text-muted #
          %th Символ
          %th Вероятность (%)
          %th Доп. вероятность коррекции (%)
          %th Ожидаемый минимум
          %th Ожидаемый максимум
          %th Средняя цель
          %th Дата
          %th
      %tbody
        - @forecasts.each do |forecast|
          - min_price = forecast.expected_range&.first || 0
          - max_price = forecast.expected_range&.last || 0
          - avg_target = ((min_price.to_f + max_price.to_f) / 2.0).round(4)
          %tr
            %td.text-muted= forecast.id
            %td
              .flex-row
                %span
                  = "#{forecast.symbol}"
                  %span.text-muted= "(#{forecast.timeframe})"

                - if forecast.up?
                  .text-success= g_icon('arrow_upward')
                - elsif forecast.down?
                  .text-danger= g_icon('arrow_downward')

            %td= forecast.probability.round(2)
            %td= (forecast.secondary_probability || 0).round(2)
            %td= min_price
            %td= max_price
            %td= avg_target

            %td= small_datetime(forecast.updated_at)
            %td
              = link_to forecast_path(forecast), data: { turbo_frame: "_top" } do
                .btn.mini-btn.gradient-hover= g_icon 'visibility'
