- closes_json = @forecast.closes.presence || []
- expected_range_json = @forecast.expected_range.presence || [0, 0]

%h2 Прогноз по #{@forecast.symbol} (#{@forecast.timeframe})
%h4 Прогноз направления: #{@forecast.direction}
%h4 Вероятность изменения: #{@forecast.probability}%
%h4 Ожидаемый диапазон цены: #{@forecast.expected_range&.first} — #{@forecast.expected_range&.last}

%br

%h4 Сигналы
%ul
  - @forecast.signals.each do |signal|
    %li= signal

%canvas#priceChart{
  width: 800,
  height: 400,
  data: {
    closes: closes_json.to_json.html_safe,
    expectedRange: expected_range_json.to_json.html_safe,
    direction: @forecast.direction,
    label: @forecast.symbol,
    macd: (@forecast.macd.presence || {macdLine: [], signalLine: []}).to_json.html_safe,
    rsi: (@forecast.rsi.presence || []).to_json.html_safe,
    stochasticRsi: (@forecast.stochastic_rsi.presence || []).to_json.html_safe
  }
}
