%h2 Прогноз по #{@forecast.symbol} (#{@forecast.timeframe})
%h4 Прогноз направления: #{@forecast.direction}
%h4 Вероятность изменения: #{@forecast.probability}%
%h4
  Дополнительная вероятность коррекции: #{@forecast.secondary_probability}%
  - if @forecast.secondary_probability.to_f == 0
    %span.text-small.text-muted
      RSI и Stochastic RSI не выходят за заданные пороги перекупленности (например, 80) или перепроданности (например, 20).
%h4 Целевая цена: #{@forecast.target_price}
%h4 Ожидаемый диапазон цены: #{@expected_range_json[0]} — #{@expected_range_json[1]}

%br/

%h4 Сигналы
- if @forecast.signals.present?
  - @forecast.signals.each do |signal|
    %div= signal
- else
  .text-muted Нет

%canvas#priceChart{
  width: 800,
  height: 400,
  data: {
    closes: @closes_json.to_json.html_safe,
    expectedRange: @expected_range_json.to_json.html_safe,
    direction: @forecast.direction,
    label: @forecast.symbol,
    macd: @macd_json.to_json.html_safe,
    rsi: @rsi_json.to_json.html_safe,
    stochasticRsi: @stochastic_rsi_json.to_json.html_safe
  }
}
