.header
  .flex-row{ style: "align-items: center;" }
    %div{ style: "display: flex; align-items: center; gap: 10px;" }
      %button#sidebar-toggle.menu-btn.show-on-mobile= g_icon 'dehaze'
    .logo.hide-on-mobile
      = link_to root_path do
        .logo-block
          .logo-icon
            = logo_icon
  .user-info
    - user = User.find_by_id(1)

    = OnlineTracker.online?(user.id)
    - if current_user.present?
      .flex-row-center
        = link_to user_path(current_user) do
          .user-block
            .header-profile-photo
              = user_image current_user
              %span.user_online
            %div
              = current_user.fullname
              .text-muted.text-small= current_user.user_role_id
        %div
          = link_to sign_out_path, method: :delete do
            = g_icon 'logout'
    - else
      = link_to sign_in_path do
        -# Войти
        = g_icon 'login'
